// LoginPage.module.scss
@import "../../styles/colors.global";

.loginPageContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: $color-primary;
    h1: {
        color: red;
        font-size: 50px;
        text-align: center;
        margin-top: 100px;
    }
}